<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Pokemon</title>
    <style>
        /* Body styles */
        body {
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        /* Heading styles */
        h1 {
            text-align: center;
            color: red;
            border: 5px groove black;
            border-radius: 10px;
            padding: 20px;
            background-color: #ffffff;
        }

        h2 {
            color: black;

        }

        /* Navigation styles */
        ul {
            list-style-type: none;
            padding: 0;
            margin: 20px 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: #e01e2a;
            font-weight: bold;
            transition: color 0.3s;
        }

        a:hover {
            color: #f08030;
        }

        /* Horizontal rule styles */
        hr {
            border: none;
            border-top: 1px solid #e01e2a;
            margin: 20px 0;
        }
    </style>
</head>



<body>
    <h1>Pokemon</h1>

    <h2>Start Your Journey</h2>
    <ul>
        <li><a href="/start">Create Your Account</a></li>
        <li> <a href="/generate">Random Pokemon Generator</a></li>
        <li> <a href="/stats">See Your PokeStats!</a></li>
    </ul>
    <hr>
</body>

</html>