<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Pokemon Generator</title>
	<link rel="stylesheet" type="text/css" href="generate.css">
</head>

<body>
	<h1>Review Application</h1>
	<form action="http://localhost:5000/generate" method="post">
		<fieldset>

			<label>Enter your name: <input type="text" name="name"></label>
            <br>
		</fieldset>
		<br>
		<input type="reset" />
		<input type="submit" value="Generate your pokemon"/>
	</form>
	<hr>
	<a href="/">HOME</a>
</body>

</html>
