<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Pokemon</title>
</head>

<body>
	<h1>Pokemon</h1>
    
    <h2>Start Your Journey</h2>
    <ul>
        <li><a href="/start">Create Your Account</a></li>
        <li> <a href="/generate">Random Pokemon Generator</a></li>
        <li> <a href="/stats">See Your PokeStats!</a></li>
    </ul>
    <hr>  
</body>

</html>