<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Generate Pokemon</title>
</head>

<body>
	<h1>Pokemon Generated</h1>
	<div>
		Congratulations <%- name %>!
		<br>
		You have generated <%- pokemon%>
	</div>
	<hr>
	<a href="/">Back to Start</a>
</body>

</html>
