<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Account Creation Confirmation</title>
</head>

<body>
	<h1>Account Data</h1>
	<div>
		<strong>Name: </strong><%- name %><br>
		<strong>Age: </strong><%- age %><br>
		<strong>Hometown: </strong><%- hometown %><br>
		<h3>Additional Trainer Information:</h3><br>
		<%- trainerinfo %>
		<br>
		<hr>
		<em>Congratulations! Your account is in the database</em>
	</div>
	<hr>
	<a href="/">Back to Start</a>
</body>

</html>
