<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>PokeStat Result</title>
</head>

<body>
	<h1>PokeStats for <%- name %></h1>
	<div>
		You have generated a total of <%- statTotal %> Pokemon! Amazing!
	</div>
	<hr>
	<a href="/">Back to Start</a>
</body>

</html>
