<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Starter Pokemon</title>
	<link rel="stylesheet" type="text/css" href="/start.css">
</head>

<body>
	<h1>Create Pokemon Account</h1>
	<form action="http://localhost:5000/start" method="post">
		<fieldset>
			<br>
			<label>Name: <input type="text" name="name"/></label>
			<label>Age: <input type="text" name="age"/></label>
			<label>Hometown: <input type="text" name="town"></label>
            <br><br>
			<br>
            <label>Additional Trainer Information: <br><textarea rows="5" cols="80" name="trainerinfo"></textarea></label>
		</fieldset>
		<br>
		<input type="reset" />
		<input type="submit" value="Create your Account!"/>
	</form>
	<hr>
	<a href="/">Back to Start</a>
</body>

</html>
